@model IEnumerable<TripCoordination.Common.ViewModel.TripViewModel>
@{
    ViewData["Title"] = "Manage Trips";
}

<div class="page-title p-3 label-control">
    <h3>All Trips</h3>
</div>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success  d-flex alert-container-win alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>
        <div>
            @TempData["Success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}
else if(TempData["Error"] != null)
{
    <div class="alert alert-danger  d-flex alert-container-lose alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>
        <div>
            @TempData["Error"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

<div class="form-container p-3 label-control">
    <div class="table-responsive">
        <table class="table table-hover align-middle text-nowrap" id="tripTable">
            <thead>
                <tr>
                    <th>Creator</th>
                    <th>Departure Date</th>
                    <th>Seats</th>
                    <th>Is Full</th>
                    <th class="noExport">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in Model)
                {
                    <tr>
                        <td>@trip.CreatorName @trip.CreatorSurname</td>
                        <td>@trip.DepartureDate.ToString("dd MMM yyyy HH:mm")</td>
                        <td>@trip.Seats</td>
                        <td>@(trip.IsFull ? "Yes" : "No")</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-primary w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="/Admin/TripWithDestinations?tripID=@trip.TripID">
                                            Details
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/TripParticipant/ViewParticipants?tripID=@trip.TripID">
                                            Participants
                                        </a>
                                    </li>
                                    <li>
                                        <form method="post" action="/Trip/DeleteTrip" onsubmit="return confirm('Are you sure to delete this record?')">
                                            <input type="hidden" name="tripID" value="@trip.TripID" />
                                            <button type="submit" class="dropdown-item text-danger">Delete</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tripTable').DataTable({
                pageLength: 5, //  Set default to 5
                lengthMenu: [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ], // Add 5 and "All" to the dropdown
                   dom: '<"row mb-2"' +
                            '<"col-md-6 d-flex align-items-center"l>' + // Left: Length menu
                            '<"col-md-6 text-md-end mt-2 mt-0"B>' +  // Right: Buttons, aligned end on md+
                         '>'+
                     '<"row mb-2"<"col-sm-12"f>>' +
                     '<"row"<"col-sm-12"tr>>' +
                     '<"row mt-2"<"col-sm-5"i><"col-sm-7"p>>',
                buttons: [
                    //Excell button
                    { extend: 'excel',
                        text: 'Export to Excel',
                        title: 'Trips_List_' + new Date().toLocaleDateString(),
                        className: 'btn btn-sm btn-outline-info',
                        exportOptions:
                        {
                            columns: ':not(.noExport)'
                        }
                    },

                    //PDF Button
                    { extend: 'pdf',
                        text: 'Export to PDF',
                        title: 'Trips_List_' + new Date().toLocaleDateString(),
                        //orientation: 'landscape',
                        //pageSize: 'A4'
                        className: 'btn btn-sm btn-outline-danger',
                        exportOptions:
                        {
                            columns: ':not(.noExport)'
                        }
                    },

                ],
                responsive: true,
                language: {
                    search: "Search:",
                    lengthMenu: "Show _MENU_ trips per page",
                    zeroRecords: "No matching records found",
                    info: "Showing _START_ to _END_ of _TOTAL_ trips",
                    infoEmpty: "No records to show",
                    infoFiltered: "(filtered from _MAX_ total records)"
                }
            });
        });
    </script>
}