@model IEnumerable<TripCoordination.Common.ViewModel.TripViewModel>
@{
    ViewData["Title"] = "Manage Trips";
}


<div class="container">
    <h1>List of trips</h1>


    <div class="my-2">

        <a asp-action="CreateTrip" asp-controller="Trip" class="btn btn-info my-2">Add more</a>

        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Creator</th>
                    <th>Depature Date</th>
                    <th>Seats</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in Model)
                {
                    <tr>
                         @* <td>@trip.TripID</td>  *@
                        <td>@trip.CreatorName @trip.CreatorSurname</td>
                        <td>@trip.DepartureDate</td>
                        <td>@trip.Seats</td>
                        <td>
                            <a href="/Trip/EditTrip?id=@trip.TripID" class="btn btn-success">Edit</a>
                            <a href="/Trip/DeleteTrip?id=@trip.TripID" class="btn btn-danger" onclick="return window.confirm('Are you sure to delete this record?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
























@* @ IEnumerable<TripCoordination.ViewModel.TripListingViewModelUI>
@{
    ViewData["Title"] = "Manage Trips";
}

<div class="container">
    <h1>List of trips</h1>


    <div class="my-2">
        @* <a href="/Person/Add" class="btn btn-info my-2">Add more</a> 

        <a asp-action="CreateTrip" asp-controller="Trip" class="btn btn-info my-2">Add more</a>

        <table class="table datatable">
            <thead>
                <tr>
                    <th>Creator</th>
                    <th>Depature Date</th>
                    <th>Seats</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in Model)
                {
                    <tr>
                         <td>@trip.TripID</td> 
                        <td>@trip.Name</td>
                        <td>@trip.DepartureDate</td>
                        <td>@trip.Seats</td>
                        <td>
                            <a href="/Trip/EditTrip?id=@trip.TripID" class="btn btn-success">Edit</a>
                            <a href="/Trip/DeleteTrip?id=@trip.TripID" class="btn btn-danger" onclick="return window.confirm('Are you sure to delete this record?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
 *@