@model IEnumerable<TripCoordination.Common.ViewModel.TripWithDestinationsViewModel>

<div class="page-title p-3 label-control">
    <h3>Trip Details</h3>
</div>

@foreach (var trip in Model)
{
    <div class="form-container p-3 label-control">
        <p><strong>Departure: </strong> @trip.DepartureDate.ToString("dd MMM yyyy HH:mm")</p>
        <p><strong>Organizer: </strong> @trip.CreatorSurname @trip.CreatorName</p>
        <p><strong>Available Seats: </strong> @trip.Seats</p>
    </div>

    @if(TempData["Error"] != null)
    {
        <div class="alert alert-danger d-flex alert-container-win alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            <div>
                @TempData["Error"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    else if (TempData["Succes"] != null)
    {
        <div class="alert alert-success alert-container-win d-flex align-items-center alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill me-2"></i>
            <div>
                @TempData["Succes"]
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="form-container p-3 label-control">
        <h4>Destinations</h4>
        @foreach (var dest in trip.Destinations)
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                <span>@dest.DestinationName</span>
                <form method="post" asp-action="DeleteTripDestinationTown" asp-controller="Trip">
                    <input type="hidden" name="tripDestinationTownID" value="@dest.TripDestinationTownID" />
                    <input type="hidden" name="tripID" value="@trip.TripID" />
                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to Delete the destination @dest.DestinationName ?');">Remove</button>
                </form>
            </div>
        }
    </div>

}



