@model TripCoordination.ViewModel.TripListingViewModelUI
@{
    ViewData["Title"] = "Home";
}
<div class="container">

    <div class="jumbotron text-center form-container py-3 rounded">
        <h1 class="display-4 label-control">Welcome to Trip Coordination</h1>
        <p class="lead label-control">Plan your trips with ease and join trips organized by fellow students.</p>
        <img src="~/images/Toyata-quantum-face-rigt.png" alt="Trip Coordination Banner" class="img-fluid my-3" style="max-height: 350px;">

        <!-- Search Form -->
        <form class="row g-3 justify-content-center align-items-end" method="post" asp-controller="Trip" asp-action="TripListing">
            <div class="col-md-3">
                <label class="label-control">From</label>
                <select asp-for="FromLocation" class="input-control">
                    <option disabled selected value="">Select City or Town</option>
                    @foreach (var town in Model.AvailableTowns)
                    {
                        <option value="@town.Text">@town.Text</option>
                    }
                </select>
                <span asp-validation-for="FromLocation" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label class="label-control">Destination</label>
                <select asp-for="DestinationID" class="input-control">
                    <option disabled selected value="">Select Destination</option>
                    @foreach (var town in Model.AvailableTowns)
                    {
                        <option value="@town.Value">@town.Text</option>
                    }
                </select>
                <span asp-validation-for="DestinationID" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label class="label-control">Departure Date</label>
                <input asp-for="DepartureDate" type="date" class="input-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
                         
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary w-50">Find a Trip</button>
            </div>
        </form>
    </div>

</div>


