@page
@model RegisterModel
@using TripCoordination.Constants
@{
    ViewData["Title"] = "Register";
}

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="bg-container">
    <div class="row min-vh-100 justify-content-center align-items-center">
        <div class="col-lg-4 bg-light rounded-3">
            <div class="form-box register p-3">
                <form class="text-center" id="account" method="post">
                    <h1>Register</h1>
                    <div asp-validation-summary="ModelOnly" class="text-danger text-start" role="alert"></div>
                    <div class="form-floating mb-3 mt-4 text-start">
                        <input type="text" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <select asp-for="Input.Role" class="form-control">
                            @foreach (var role in Enum.GetValues(typeof(Roles)).Cast<Roles>().Where(r => r != Roles.Admin))
                            {
                                <option value="@role">@role</option>
                            }
                        </select>
                        <label asp-for="Input.Role">Select Role</label>
                        <span asp-validation-for="Input.Role" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 text-start">
                        <input type="password" asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4 text-start">
                        <input type="password" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="confirm password" />
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button id="registerSubmit" type="submit" class="mb-2 w-100 btn btn-primary">Register</button>

                    <div class="forgot-link mb-2">
                        <a class="text-decoration-none" href="#">Forgot password?</a>
                    </div>

                    <p>or Register with social Platforms</p>
                    <div class="social-icons mb-2">
                        <a href="#"><i class="bi bi-google"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </div>
                    <div class="no-account text-center">
                        <p>Already have an account?</p>
                        <a class="btn btn-secondary w-50" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                    </div>
                </form>
            </div>
        </div>
       
    </div>
   
</div>


@* 
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
