@model IEnumerable<TripCoordination.ViewModel.TripDetailsViewModelUI>
@{
    ViewData["Title"] = "Trip Details";
}


<div class="card mt-5">
    <div class="card-header">
        <h2>Trip Details</h2>
    </div>
    <div class="card-body">
        @foreach (var item in Model)
        {
            <div class="conatiner">
                <div class="row">
                    <div class="col-md-4">
                        <p><strong>Date:</strong> @item.DepartureDate</p>
                        <p><strong>Destination:</strong> @item.DestinationName: @item.TownID</p>
                        <p><strong>Available Seats:</strong> @item.Seats</p>
                        <p><strong>Organizer:</strong> @item.CreatorFirstName @item.CreatorLastName</p>
                    </div>
                    <div class="col-md-6">

                        <form asp-action="JoinTrip" method="post">

                            <input type="hidden" asp-for="@item.TripID" class="form-control" />

                            <div class="mb-3 form-group col-md-2">
                                <label asp-for="@item.JoiningFirstName" class="form-label">First Name</label>
                                <input asp-for="@item.JoiningFirstName" class="form-control" />
                                <span asp-validation-for="@item.JoiningFirstName" class="text-danger"></span>
                            </div>

                            <div class="mb-3 form-group col-md-2">
                                <label asp-for="@item.JoiningLastName" class="form-label">Last Name</label>
                                <input asp-for="@item.JoiningLastName" class="form-control" />
                                <span asp-validation-for="@item.JoiningLastName" class="text-danger"></span>
                            </div>

                            <div class="mb-3 form-group col-md-2">
                                <label asp-for="@item.PickUpPoint" class="form-label">PickUp Location</label>
                                <input asp-for="@item.PickUpPoint" class="form-control" />
                                <span asp-validation-for="@item.PickUpPoint" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">Join Trip</button>
                        </form>

                    </div>
                </div>
            </div>
        }
       
    </div>
</div>
