<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trip Coordination</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #76aec3;">
        <div class="container">
            <a asp-action="Index" asp-controller="Home" class="navbar-brand">
                <span class="fw-bold text-secondary">
                    UniTrips
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Trip" asp-action="TripListing">Trips</a>
                    </li>

                    @if(User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Trip" asp-action="CreateTrip">Create Trip</a>
                        </li>
                    }
                   @*  <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Register">Register</a>
                    </li> *@
                    
                </ul>
                <partial name="_LoginPartial" /> 
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    @if (ViewData["ShowSidebar"] != null && (bool)ViewData["ShowSidebar"])
    {
        <div class="row">
            <div class="col-md-2">
                @await Html.PartialAsync("_Sidebar")
            </div>
            <div class="col-md-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        
    }
    else
    {
        <main class="flex-grow-1 container my-4">
            @RenderBody()
        </main>
    }
    @* <main class="flex-grow-1 container my-4">
        @RenderBody()
    </main> *@

    <!-- Footer -->
    <footer class="bg-light py-3 mt-auto">
        <div class="container text-center">
            <span class="text-muted">&copy; @DateTime.Now.Year - Trip Coordination</span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery (Select2 dependency) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
